@model AdminFoodHouse.Models.CategoryP

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-body">
        <h2>Thêm Loại Sản Phẩm</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Tên loại sản phẩm:
                    </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="sTenLS" min="1" name="sTenLSP" value="@ViewBag.Name" required /><span style="color: red;">@ViewData["err1"]</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Số thứ tự:
                    </label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" id="Stt" min="1" required name="Stt" />@ViewBag.Thongbao
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm Mới" class="btn btn-success btn-sm" />
                        <input type="reset" value="Làm Mới" class="btn btn-danger btn-sm" />
                        <a href="@Url.Action("Index")" class="btn btn-success btn-sm" role="button">Trở Về</a>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
