@model PagedList.IPagedList<AdminFoodHouse.Models.AccountBuy>
@using PagedList.Mvc;
@helper Truncate(string s, int length)
{if (s.Length < length)
    {@s }
else
{ @s.Substring(0, length)<text>...</text>}}

@{ViewBag.Title = "Index";
    Layout = "~/Areas/Areas2/Views/Shared/_LayoutAdmin1.cshtml";
}

<div class="card">
    <div class="card-body">
        <h2>Quản Lý Tài Khoản Khách Mua Hàng</h2>
        @using (Html.BeginForm("Index", "AccountSell", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="search-field d-none d-md-block">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <button type="submit" class="input-group-text border-0 mdi mdi-magnify"></button>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" name="searchString" id="searchString" placeholder="Nhập tên người mua">
                    </div>
                </form>
            </div>
        }
        <div class="table-responsive">
            <table id="zero_config"
                   class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Tên Đăng Nhập</th>
                        <th>Tên Người Sử Dụng</th>

                        <th>Email</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa Chỉ</th>
                        <th>Tình Trạng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DisplayName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @if (item.Status == 0)
                                {<p>Bình Thường</p>}
                                else if (item.Status == 1)
                                { <p>Đã Khóa</p>}
                            </td>
                            <td id="dropdown1" style="width:20px">
                                @if (item.Status == 0)
                                {<a href="~/Areas2/AccountBuy/Lock/@item.AccountBuyID" class="btn btn-warning btn-sm" role="button">Khóa</a>}
                                else if (item.Status == 1)
                                {<a href="~/Areas2/AccountBuy/Lock/@item.AccountBuyID" class="btn btn-warning btn-sm" role="button">Hủy Khóa</a>}

                                <a href="@Url.Action("Edit", new { id = item.AccountBuyID })" class="btn btn-primary btn-sm" role="button">Sửa</a>

                            </td>
                        </tr>
                    }

                </tbody>

            </table>
            <br />
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    @using (Html.BeginForm("Index", "AccountBuy", FormMethod.Get))
                    {
                       

                        @Html.Hidden("page", (object)ViewBag.Page)
                        @Html.Hidden("sortProperty", (object)ViewBag.SortProperty)
                        @Html.Hidden("sortOrder", (object)ViewBag.SortOrder)
                        @Html.Hidden("searchString", (object)ViewBag.Keyword)
                        @Html.Hidden("categoryID", (object)ViewBag.Subject)
                    }

                </div>

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.CurrentSize, sortProperty = ViewBag.SortProperty, sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword }))
            </div>

        </div>
    </div>
</div>