@using AdminFoodHouse.Models;
@using PagedList.Mvc;
@model  PagedList.PagedList<AccountSell>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}





<section class="product">
    <div class="container">
        <div class="row">
            <aside class="product__sidebar col-lg-3 col-md-0 col-sm-12">
                <ul class="list-group">
                    <li>
                        <div class="product__sidebar-heading">
                            <div class=""></div>
                            <h2 class="product__sidebar-title">
                                Chào mừng quý khách
                            </h2>
                        </div>
                    </li>
                    <nav class="product__sidebar-list" style="border-radius: 0px;">
                        <div class="product__sidebar-item col-lg-6">
                            <img src="~/Images/vc.jpg" />
                        </div>
                    </nav>
                </ul><br />
            </aside>
            <article class="product__content col-lg-9 col-md-12 col-sm-12">
                <nav class="row">
                    <ul class="product__list hide-on-mobile">
                        <h4 style="text-align:center;margin-right:362px">
                            Danh Sách Cửa Hàng
                        </h4>
                    </ul>
                </nav>
                <div class="row product__panel">
                    @foreach (var product in Model)
                    {
                        <div class="product__panel-item col-lg-3 col-md-4 col-sm-6">
                            <div class="product__panel-item-wrap">
                                <div class="product__panel-img-wrap">
                                    <a href="@Url.Action("Index","Food",new {id = product.AccountSellID})"><img src="~/Images/@product.AcImage" alt="" class="product__panel-img" style="height:105px;width:130px; border-radius:10px"></a>
                                </div>
                                <h3 class="product__panel-heading">
                                    <a href="@Url.Action("Index","Food",new {id = product.AccountSellID})" class="product__panel-link">@product.DisplayName</a>
                                </h3>

                            </div>
                        </div>
                    }
                </div>
                <div class="phantrang pagedList" style="margin-left:380px">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
            </article>

        </div>

    </div>
</section>

<style>

    /* CSS cho nút phân trang */
    .pagedList a {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    /* CSS cho nút phân trang được chọn */
    .pagedList .active a {
        background-color: #337ab7;
        border-color: #337ab7;
        color: #fff;
    }
</style>







